<head>
    <meta charset="utf-8">
    <link rel="canonical" href="{{ site.baseurl }}{{ page.url }}">
    
    <title>{{ page.title }} – {{ site.title }}</title>
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">

    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>

    {% include head/amp-custom.html %}

    {% include head/amp-boilerplate.html %}
    
</head>