<header>
    <h1>
        <amp-img src="/logo.png" layout="fixed" height="100" width="100" alt="Cloud Study Network Logo"></amp-img>
        Cloud Study Network
    </h1>

    <button on="tap:sidebar.toggle">Menu</button>

    <amp-sidebar id="sidebar" layout="nodisplay" side="left">
        <ul>
            <li><button on="tap:sidebar.close">Close</button></li>
            <li><a href="/">Home</a></li>
            <li><a href="/events/">Events</a></li>
            <li><a href="/authors">Members</a></li>
        </ul>
    </amp-sidebar>
</header>